.u-section-1 .u-sheet-1 {
  min-height: 778px;
}

.u-section-1 .u-image-1 {
  width: 916px;
  height: 805px;
  margin: 0 auto 0 -119px;
}

.u-section-1 .u-group-1 {
  width: 516px;
  min-height: 517px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -759px -46px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px 0 40px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.8125rem;
  font-weight: normal;
  margin: 49px -9px 0 19px;
}

.u-section-1 .u-form-1 {
  height: 309px;
  margin: -7px -7px 0 3px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: -27px 70px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1396px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 510px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 459px;
    margin-top: 343px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-form-1 {
    width: 395px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-1 .u-image-1 {
    width: 643px;
    height: 429px;
  }

  .u-section-1 .u-group-1 {
    width: 566px;
    margin-top: 424px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px;
  }

  .u-section-1 .u-form-1 {
    width: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-1 .u-image-1 {
    width: 494px;
    height: 329px;
  }

  .u-section-1 .u-group-1 {
    width: 516px;
    margin-top: 524px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 36px 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-form-1 {
    width: 466px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: 35258px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -562px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 286px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
  min-height: 943px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1256px);
  margin: -9px auto 0 calc(((100% - 1140px) / 2) + -116px);
}

.u-section-2 .u-image-1 {
  background-image: url("images/5319b3de45f679c35292792e59966cae0f6848a43914dd4ba6c9aa0d7e40c17e3d0949724e6a848bca7218ca9c9df8a2b7fb1f2a5df21ae48845ae_12803.jpg");
  background-position: 50% 50%;
  min-height: 628px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 628px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  margin: 42px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.625rem;
  margin: 91px -18px 0 18px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 91px auto 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/34628579-0.jpeg");
  background-position: 50% 50%;
  min-height: 348px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/aa459116e158cd17547519f206f8ae9ebda6135723d846476a53ffa0a716697c67f5b29ecd36cd18cf1f91f7a8c4192fdcba81d5e6a393262e275c_1280.jpg");
  background-position: 50% 50%;
  min-height: 348px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 348px;
  background-image: url("images/da3bdd4fbdff16d7c62eae995ffc26edeb45447e6af9dc9828f7966cbb1f60e22c0e5b7c9f82ffbd7c7f9480ae1e349ba4bd03848c497ceea28b36_12801.jpg");
  background-position: 0% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 697px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 510px;
    width: calc(((100% - 940px) / 2) + 940px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 470px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -124px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 204px;
    margin-left: 16px;
  }

  .u-section-2 .u-image-2 {
    min-height: 260px;
  }

  .u-section-2 .u-image-3 {
    min-height: 260px;
  }

  .u-section-2 .u-image-4 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 526px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 85px;
    width: calc(((100% - 720px) / 2) + 720px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 169px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -185px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 240px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 199px;
  }

  .u-section-2 .u-image-3 {
    min-height: 199px;
  }

  .u-section-2 .u-image-4 {
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1391px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 440px;
    width: calc(((100% - 540px) / 2) + 540px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 405px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 94px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -74px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 204px;
  }

  .u-section-2 .u-image-2 {
    min-height: 471px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 426px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 448px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 901px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 22px;
    width: calc(((100% - 340px) / 2) + 340px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 255px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: -66px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 196px;
  }

  .u-section-2 .u-image-2 {
    min-height: 297px;
  }

  .u-section-2 .u-image-3 {
    min-height: 268px;
  }

  .u-section-2 .u-image-4 {
    min-height: 282px;
  }
}.u-section-3 {
  background-image: url("images/ghhh-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}